body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}

.bg-image {
  background-image: url("https://pbs.twimg.com/media/DwKl_kTXgAEdzB9.jpg");
  filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.info-text {
  border: 2px solid;
  border-radius: 50px;
  border-color: rgba(169, 82, 227, 0);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(169, 82, 227, 0.7);
  font-weight: bold;
  transform: translate(0%, 25%);
}


h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  font-size:36px;
  color:#ffffff;
  font-weight:bold;
  font-family: montserrat, sans-serif;
}

p {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	font-size:24px;
	color:#ffffff;
	font-weight:bold;
	font-style: italic;
	font-family: montserrat, sans-serif;
}

button:hover {
	transition: all 0.2s linear;
	background-color: rgba(169, 82, 227, 1);
	color: #ffffff;
	border-color: rgba(169, 82, 227, 0);
	/*width: 112.5px;
	height: 33.75px;*/
}

button {
	border-radius: 8px;
	transition: all 0.2s linear;
	user-select: none;
	width: 150px;
	height: 45px;
	font-size:20px;
	background-color: rgba(0, 0, 0, 0);
	color: #a952e3;
	vertical-align: middle;
	border: 2px solid;
	border-color: rgba(169, 82, 227, 1)
}
